# OS Files #
############
.DS_Store
.Trashes
ehthumbs.db
Icon?
Thumbs.db

# Ruby Files #
##############
/Gemfile.lock
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/tmp/
/spec/reports/
/vendor/bundle/
